<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{. | relURL }}" alt="avatar"></div>
    {{ end }}
    <h1 style="color: #BD5935">{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      <li><a href="pdf/davidfan_cv.pdf">My CV</a></li>
      {{ range sort .}}
      <li><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
    <div class="col-lg-12">
      <p>I do foundational research that advances the state-of-the-art in AI and generates product impact.</p>
      <!-- <p>I do research in deep learning and computer vision, and am passionate about making research accessible to all.</p> -->
    </div>
    {{ end }}

  <div class="col-lg-12">
    <h3 style="text-align: left;">News:</h3>
    <ul style="text-align: left; list-style: inside;">
      <li style="display: list-item;">[07/2023] First-author paper accepted to ECCV 2024! See you in Italy.</li>
      <li style="display: list-item;">[01/2024] I moved to NYC!</li>
      <li style="display: list-item;">[07/2023] First-author paper accepted to ICCV 2023! See you in Paris.</li>
      <!-- <li style="display: list-item;">[02/2023] First-author paper accepted to ICLR 2023!</li> -->
      <!-- <li style="display: list-item;">[02/2021] 1 paper accepted to CVPR 2021!</li> -->
      <li style="display: list-item;">[07/2020] Joined Prime Video research team.</li>
      <!-- <li style="display: list-item;">[02/2020] 1 paper accepted to CVPR 2020!</li> -->
      <li style="display: list-item;">[08/2019] Graduated from Princeton and joined AWS AI for full-time.</li>
    <ul>
  </div>
</div>
</section>
